<div class="upload-component">
    <div class="ud-title"> 
        <div class="title">
            <p>
                Upload a document
            </p>
        </div>
    </div>
    <div class="ud-options">
        <div class="choose-format">
            <div class="cf-title">
                Choose a format: 
            </div>
            <div class="dropdown">
                <select name="formats" id="formats">
                    <option value="TXT">.txt</option>
                    <!-- <option value="PNG">.png</option>
                    <option value="PDF">.pdf</option>
                    <option value="DOC">.doc</option> -->
                </select>
            </div>
        </div>
        <input type="file"accept=".txt" class="file-input" (change)="onFileSelected($event)"
         #fileUpload>
        <div class="browse-btn">
            <button (click)="fileUpload.click()">Browse</button>
            <button [disabled]="!fileName" (click)="sendFile()">Upload</button>
        </div>
        <p class="file-name">{{fileName||"No file uploaded yet."}}</p>
        

    </div>
</div>
