<div class="upload-component">
    <div class="ud-title"> 
        <div class="title">
            <p>
                Upload a document
            </p>
        </div>
    </div>
    <div class="ud-options">
        <div class="choose-format">
            <div class="cf-title">
                Choose a format: 
            </div>
            <div class="dropdown">
                <select name="formats" id="formats">
                    <option value="JPG">.jpg</option>
                    <option value="PNG">.png</option>
                    <option value="PDF">.pdf</option>
                    <option value="DOC">.doc</option>
                </select>
            </div>
        </div>
        <div class="browse-btn">
            <button>Browse</button>
        </div>
    </div>
</div>
