<div class="upload-component">
    <div class="ud-title"> 
        <div class="title">
            <p>
                Drop some text!
            </p>
        </div>
    </div>
    <div class="ut-options">
        <div class="text-input">
            <textarea type="text" placeholder="Input your text here..." #textArea [(ngModel)]="text">
            </textarea>
        </div>
        <div class="browse-btn">
            <button (click)="uploadText()">Upload</button>
        </div>
    </div>
</div>
